@using AlphaCinema.Core.Constants
@using AlphaCinema.Core.ViewModels
@model ActiveTicketsListVM

@{
    ViewData[ViewConstant.Title] = "Tickets";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Movie - @Model.MovieName</h3>
    </div>
    <div class="card-body p-0">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th style="width: 140px">Hall</th>
                    <th style="width: 140px">Row</th>
                    <th style="width: 140px">Column</th>
                    <th style="width: 340px">Start</th>
                    <th>Price</th>
                    <th style="width: 40px"></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < @Model.Tickets.Count; i++)
                {
                    <tr>
                        <td>@(i+1)</td>
                        <td>@Model.Tickets[i].HallNumber</td>
                        <td>@Model.Tickets[i].Row</td>
                        <td>@Model.Tickets[i].Column</td>
                        <td>@Model.Tickets[i].Start</td>
                        <td>@Model.Tickets[i].Price lv.</td>
                        <td>
                            <div class="margin">
                                <div>
                                    <a asp-controller="Ticket" asp-action="Purchase" asp-route-id="@Model.Tickets[i].TicketId" class="btn btn-outline-success btn-xs" style="min-width: 120px">Purchase</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>